library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icinga_server_database_user }}",
  password = "{{ icinga_server_database_password }}",
  host = "{{ icinga_server_database_server }}",
  database = "{{ icinga_server_database_name }}",
}
